ul{list-style: none;margin: 0;padding: 0;}
dl, dd{margin: 0;}

.tabs{zoom: 1;border-bottom: 1px solid #ddd;max-width: 500px;}
.tabs:after{content: '';display: block;height: 0;font: 0;overflow: hidden;clear: both;}
.tabs li{float: left;padding: 10px 20px;border-bottom: 2px solid transparent; cursor: pointer;}
.tabs li.choose{border-bottom-color: #1e50a2;}
.contents{background: #eee;max-width: 500px;margin-top: 10px;}
.contents dd{padding: 20px;}
.contents dd.ku_thide{display: none;}


